__pycache__
.vscode
# Ignore files cached by Hypothesis...
.hypothesis/*
# except for the examples directory
!.hypothesis/examples/
# Ignore unittest coverage output
.coverage
# Ignore venv file
.venv